{% extends "website/base.html" %}
{% load static %}

{% block title %} 
Home
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "website/index.css" %}" />
{% endblock %}

{% block content %}

    <div class="title-section"> 
        <h1 id="title">Taste  <span class="highlight-span">&</span>  delight</h1>
        <p id="tagline">Unleash Flavorful Moments</p>
    </div> 
    <a id="button-link" href="{% url "website:search_all_recipes" %}">Find a Recipe</a>


    <div class="image-container">
        <img class="pancakes-img"src="{% static "website/images/pancakes.jpg" %}" alt="pancakes" />
    </div>

    <h2 class="sub_headline">Find Inspiration From Our Offers</h2>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        {%for recipe in recipes %}
            <div class="col">
                <div class="card h-100">
                    <img src={{ recipe.image }} class="card-img-top" alt="dish">
                <div class="card-body">
                    <a class="card-title" href="{% url "website:recipe-page" title=recipe.title|slugify id=recipe.id %}">{{ recipe.title }}</a>
                </div>
                    <a class="btn btn-go-to-recipe" href="{% url "website:recipe-page" title=recipe.title|slugify id=recipe.id %}">Go to recipe page</a>
                </div>
            </div>
        {% endfor %}

      </div>

{% endblock %}
