{% extends "website/base.html" %}
{% load static %}

{% block title %} 
Log in
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "website/login.css" %}" />
{% endblock %}


{% block content %}
<div class="form-wrapper">
  <form class="form" action='' method="POST">
      {% csrf_token %}
      <p class="title">Log in</p>
      {% for field in form %}
          <label class="field-label">{{ field.label }} 
            {{ field }}
          </label>
      {% endfor %}
      <input class="login-btn" type="submit" value="Log in">
      <a class="register-link" href="{% url "website:register-page" %}">Do not have an account</a>

      {% comment %} {% if form.error_messages  %} {% endcomment %}
       {% comment %} {% for field in form %} {% endcomment %}
           {% for message in messages  %} 
              <div class="alert alert-danger">
                   <strong>{{ message|escape }}</strong>
              </div> 
           {% endfor %}
       {% comment %} {% endfor %} {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
        
  </form>

</div>

{% endblock %} 