{% extends "website/base.html" %}
{% load static %}

{% block title %} 
{{title|title}}
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "website/includes/add_recipe_btn.css" %}" />
  <link rel="stylesheet" href="{% static "website/recipe.css" %}"/>

{% endblock %}

{% block content %}
    <div class="title-section">
        <h1  class="title">{{ title|title }}</h1>
    </div>
    
    <p class="value-header">FOOD ENERGY PER SERVING</p>

    <div class="value-info">    
        {% for value, qnt in values.items %}
        <div class="value">
            <p class="value-desc"> {{ value|upper }} </p>
            <p class="value-qnt"> {{ qnt|cut:"g" }} </p>
            {% if value == "calories"%}
                <p class="value-desc">KCAL</p>
            {% else %}
                <p class="value-desc">GRAMS</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="description">
        <div class="ingrd-menu">
            <ul class="ingrd-menu">
                {% include "website/includes/ingredients.html" %}
            </ul>
        </div>
        <div class="image-btn-container">
            <img class="recipe-img"src="{{recipe.image}}" alt="dish" />
            {% if recipe.is_saved %}
            <button class="btn added-recipe">Added to recipe book</button>
            {% else %}
            <button data-recipe-id={{recipe.id}} class="btn add-recipe" id="add" onclick="">Add to recipe book</button>
            {% endif %}
        </div>
    </div>

    <div class="instructions">
        <p class="instructions-title">RECIPE INSTRUCTIONS</p>
        <ul class="steps">
            {% for step in instructions%}
            <li class="step">
                <span class="step-number">{{ step.number }}</span>
                <p class="step-text">{{ step.step }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    

{% endblock %}

{% block script %}
  {% include "website/includes/add_recipe_btn.html" %}
{% endblock %}
