{% extends "website/base.html" %}
{% load static %}

{% block title %} 
Sign in
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "website/register.css" %}" />
{% endblock %}

{% block content %}
<div class="form-wrapper">
  <form class="form" action='' method="POST">
      {% csrf_token %}
      <p class="title">Create an account</p>
      {% for field in form %}
          <label class="field-label">{{ field.label }} 
            {{ field }}
          </label>
      {% endfor %}
      <input class="create-account-btn" type="submit" value="Create an account">
      {{ form.errors}}
  </form>

</div>

{% endblock %} 