{% extends "website/base.html" %}
{% load static %}

{% block title %} 
Search
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "website/search_all_recipes.css" %}" />
{% endblock %}

{% block content %}
  <div class="title-section"> 
    <h1 id="title">Find What <span class="highlight-span">Suits</span> You</h1>
    <p id="tagline">Unleash Flavorful Moments</p>
  </div> 

  <div class="btn-group">

    <div class="dropdown">
      <button class="btn dropdown-toggle meal-type-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Meal Type
      </button>
      <ul class="dropdown-menu scroll-menu">
        {% for meal_type in meal_types%}
        <li><a class="dropdown-item" href="{% url "website:index" %}">{{ meal_type }}</a></li>
        {% endfor %}
      </ul>
    </div>

      <div class="dropdown">
        <button class="btn dropdown-toggle cuisine-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cuisine
        </button>
        <ul class="dropdown-menu scroll-menu">
          {% for cuisine in cuisines%}
          <li><a class="dropdown-item" href="{% url "website:index" %}">{{ cuisine }}</a></li>
          {% endfor %}
        </ul>
      </div>

        <div class="dropdown">
          <button class="btn dropdown-toggle diet-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Diet
          </button>
          <ul class="dropdown-menu scroll-menu">
            {% for diet in diet%}
            <li><a class="dropdown-item" href="{% url "website:index" %}">{{ diet }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn dropdown-toggle diet-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Intolerance
          </button>
          <ul class="dropdown-menu scroll-menu">
            {% for item in intolerance%}
            <li><a class="dropdown-item" href="{% url "website:index" %}">{{ item }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <button type="button" class="filter-btn">Filter</button>
  </div>

  <div class="recipes-group">
      {% for recipe in recipes %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{ recipe.image }} class="img-fluid rounded-start" alt="dish">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a class="card-title" href="{% url "website:recipe-page" title=recipe.title|slugify id=recipe.id %}">{{ recipe.title }}</a>

              <div class="card-text">
                <div class="dropdown">
                  <button class="btn dropdown-toggle ingrd-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ recipe.ingredients|length}}  Ingredients</button>
                    <ul class="dropdown-menu ingrd-menu">
                      {% include "website/includes/ingredients.html" %}
                     
                      <a class="btn btn-go-to-recipe" href="{% url "website:recipe-page" title=recipe.title|slugify id=recipe.id %}" role="button">Go to recipe page</a>
                    </ul>
                  <span class="pipe">|</span>
                </div>
                <p>🥗{{ recipe.servings }} servings  ⏱️{{recipe.ready_in_minutes}} minutes</p>
              </div>
            </div>
            <a class="btn add-recipe" href="#" role="button">Add to recipe book</a>
          </div>

              {% comment %} <p class="card-text"><small class="text-muted"></small></p> {% endcomment %}
              
        </div>
      </div>
      {% endfor %}
  </div>

{% endblock %} 


