{% extends "website/base.html" %}
{% load static %}

{% block title %} 
Search
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "website/search_all_recipes.css" %}" />
  <link rel="stylesheet" href="{% static "website/includes/add_recipe_btn.css" %}" />

{% endblock %}

{% block content %}
  <div class="title-section"> 
    <h1 id="title">Find What <span class="highlight-span">Suits</span> You</h1>
    <p id="tagline">Unleash Flavorful Moments</p>
  </div> 
  <form class="form" action={% url 'website:search_all_recipes'%} method="GET">
        <div class="search-field"> 
          {{ form.recipe_name }}
          <input class="search-btn" type="submit" value="Search">
        </div>
    <div class="checkbox-fields">
      {% for field in form %}
        {% if field.name != "recipe_name" %}
          <div class="fieldWrapper">
            <label class="filter-label">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endif %}
      {% endfor %}
      </div>
   
  </form>

  <div class="recipes-group">
      {% for recipe in recipes %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{ recipe.image }} class="img-fluid rounded-start" alt="dish">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              {% csrf_token %}
              <a class="card-title" href="{% url "website:recipe-page" title=recipe.title|slugify id=recipe.id %}">{{ recipe.title }}</a>

              <div class="card-text">
                <div class="dropdown">
                  <button class="btn dropdown-toggle ingrd-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ recipe.ingredients|length}}  Ingredients</button>
                    <ul class="dropdown-menu ingrd-menu">
                      {% include "website/includes/ingredients.html" %}
                     
                      <a class="btn btn-go-to-recipe" href="{% url "website:recipe-page" title=recipe.title|slugify id=recipe.id %}" role="button">Go to recipe page</a>
                    </ul>
                  <span class="pipe">|</span>
                </div>
                <p>🥗{{ recipe.servings }} servings  ⏱️{{recipe.ready_in_minutes}} minutes</p>
              </div>
            </div>
            {% if recipe.is_saved %}
            <button class="btn added-recipe">Added to recipe book</button>
            {% else %}
            <button data-recipe-id={{recipe.id}} class="btn add-recipe" id="add" onclick="">Add to recipe book</button>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %} 

{% block script %}
  {% include "website/includes/add_recipe_btn.html" %}
{% endblock %}


