.title-section {
    text-align: center;
    padding: 64px 3% 35px 3%;
    
}

#title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 56px;
    color: #041434;
    text-transform: uppercase;
}


#home {
    border-bottom: 1px solid #f97664;
    
  }

#tagline {
    color: #6a758a;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.highlight-span {
  color:  #f97664;
}

#button-link{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    padding: 15px;
    width: 150px;
    background-color: #041434;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    text-decoration: none;

}

.image-container {
    height: 450px;
    margin-bottom: 90px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sub_headline {
    text-align: center;
    color: #041434;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-bottom: 120px;
    margin-top: 180px;

}

.offer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;


}
.offer-title {
    color: #4a556c;
    /* color: #6a758a; */
    font-weight: 400;
    font-family: "Inter", sans-serif;
    height: 100px; 
    width: 350px;
    /* margin-bottom: 90px; */
    text-align: center;
    /* margin-right: 10px; */

}

.offer-image {
    object-fit: cover;
    width: 30%;
    /* height: 100%; */
    margin-bottom: 100px;
}
