.title-section {
    text-align: center;
    padding: 64px 3% 35px 3%;   
}

.title, .context {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 56px;
    color: #041434;
  
}

.context {
    font-size: 42px;
}

.subcotext {
    font-family: "Playfair Display", sans-serif;
    color: #f97664;
    margin-top: 40px;
    margin-bottom: 50px;

}

.row {
    justify-content: center;
    display: grid;
}

.col {
    width: 600px;
}

