.title-section {
    text-align: center;
    padding: 64px 3% 35px 3%;
    
}

.title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 56px;
    color: #041434;
  
}

.value-header {
    text-align: center;
    color: #f97664;
    /* color: #6a758a; */
    margin: 40px 0;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;

}

.value-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30% ;
}

.value {
    text-align: center;
}

.value-desc {
    font-size: 9px;
    font-family: "Inter", sans-serif;
    /* color: #f97664; */

    color: #6a758a;

}

.value-qnt {
    font-family: "Inter", sans-serif;
    color: #041434;
    font-weight: 400;
    font-size: 20px;

}