#search {
    border-bottom: 1px solid #f97664;
    
  }

.title-section {
    text-align: center;
    padding: 64px 3% 35px 3%;
    
}

#title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: #041434;
  /* text-transform: uppercase; */
}


.highlight-span {
  color:  #f97664;
}

#tagline {
    color: #6a758a;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}


div.btn-group {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  
  margin: 50px 150px;
  /* margin-bottom: 400px; */


}

.dropdown-menu {
  overflow-y: scroll;
  height: 200px;

}



.dropdown-toggle {
  color: #041434;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-right: 25px;
  border: 1px solid #dbdee6;
  padding: 5px;

  
}


.dropdown-item {
  color: #4a556c;
  font-family: 'Inter', sans-serif;
 
}

.filter-btn {
  width: 100px;
  /* margin-left: 20px; */
  background-color: #6a758a;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 2px;

}

.filter-btn:hover {
  background-color: #041434;

}

.recipes-group {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 30px;

}

.card {
  width: 750px;
  border: none;

  
}


.card-title {
  color: #041434;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;

}

.card-text {
  color: #6a758a;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  /* justify-content: space-between; */

}

.pipe {
  color: #dbdee6;
}

.btn-add-to-book{
  width: 250px;
  font-family: "Inter", sans-serif;
  color: #6a758a;
  border: 1px solid #dbdee6;
  background-color: white;
  margin: 15px 10px 10px 15px;
  border-radius: 2px;
  


}
.ingrd-btn {
  border: none;
  color: #6a758a;
  padding: 0%;
}