#search {
    border-bottom: 1px solid #f97664;
    
  }

.title-section {
    text-align: center;
    padding: 64px 3% 35px 3%;
    
}

#title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: #041434;

}


.highlight-span {
  color:  #f97664;
}

#tagline {
    color: #6a758a;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}


div.btn-group {
  display: flex;
  justify-content: center;
  margin: 50px 150px;

}

.scroll-menu {
  overflow-y: scroll;
  height: 200px;

}


.dropdown-toggle {
  color: #041434;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-right: 25px;
  border: 1px solid #dbdee6;
  padding: 5px;

  
}


.dropdown-item {
  color: #4a556c;
  font-family: 'Inter', sans-serif;
 
}

.filter-btn {
  width: 100px;
  /* margin-left: 20px; */
  background-color: #6a758a;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 2px;

}

.filter-btn:hover {
  background-color: #041434;

}

.recipes-group {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 30px;
  margin-top: 90px;

}

.card {
  width: 750px;
  border: none;
  
}


.card-title {
  text-decoration: none;
  color: #041434;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;

}

.card-title:hover {
  text-decoration: 1px underline;
}

.card-text {
  color: #4a556c;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  margin-top: 20px;

}

.pipe {
  color: #dbdee6;
}

.btn-add-to-book{
  width: 250px;
  font-family: "Inter", sans-serif;
  color: #6a758a;
  border: 1px solid #dbdee6;
  background-color: white;
  margin: 15px 10px 10px 15px;
  border-radius: 2px;
  
}

.ingrd-btn {
  border: none;
  color: #4a556c;
  padding: 0%;
  font-size: 15px;
}

.ingrd-menu {
  padding: 30px 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #4a556c;
  font-size: 12px;
  
}

.ingr-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  width: 350px;

}

.ingrd-item {
  margin-bottom: 10px;
  display: inline-flex;
  width: 100%;

}

.underscore {
  flex-grow: 1;
  border-bottom: 1px solid #dbdee6;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-go-to-recipe {
  width: 100%;
  margin-top: 15px;
  background-color: white;
  color:  #4a556c;
  border: 1px solid #4a556c;
  padding: 10px;
  border-radius: 2px;

}

.btn-go-to-recipe:hover {
  color: #f97664;
  border: 1px solid #f97664;
  font-weight: 600;
}

.add-recipe {
  width: 50%;
  margin-top: 10px;
  margin-left: 15px;
  background-color: white;
  border: 1px solid #6a758a;
  color: #6a758a;
  padding: 5px;
  border-radius: 2px;

}

.add-recipe:hover {
  color: #4a556c;
  border: 1px solid #4a556c;
  font-weight: 600;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.fieldWrapper {
  margin-right: 20px;
}



.form-item {
  height: 35px;
  color: #041434;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border: 1px solid #dbdee6;
  padding: 5px;
  border-radius: 4px;
  width: 150px;
}
.search-input {
  width: 280px;
  border: 1px solid #4a556c;
  color: #041434;

}

.filter-option option{
  color: #4a556c;
  font-family: 'Inter', sans-serif;
 
}

.search-btn {
  width: 100px;
  background-color: #6a758a;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 2px;
}

.search-btn:hover {
  background-color: #041434;

}