.row {
    margin: 0 5%;
    --bs-gutter-y: 3rem;
}

.card{
    border: 1px solid #dbdee6;
    margin: 0 15px;
}
.card-title {
    color: #041434;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.card-title:hover {
    text-decoration: 1px underline;
}

.btn-go-to-recipe {
    width: 90%;
    margin-top: 10px;
    background-color: white;
    color: #6a758a;
    border: 1px solid #dbdee6;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px 20px 10px;

}

.btn-go-to-recipe:hover {
    color:  #f97664;
    border: 1px solid #f97664;
    font-weight: 600;
  }